@model p2_shop.Models.Proizvodi

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-10">
        <h2>Kreiraj novi prozivod</h2>

        <h4>Proizvodi</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cijena, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cijena, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cijena, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Naziv_Slike, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naziv_Slike, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Naziv_Slike, "", new { @class = "text-danger" })
                <button style="margin-top:20px;" type="button" class="btn btn-info">Dodaj sliku</button>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <div style="margin-left:20px;">
                        @Html.EditorFor(model => model.Active) Da
                    </div>
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FK_Tip_Proizvoda, "Naziv tipa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FK_Tip_Proizvoda", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_Tip_Proizvoda, "", new { @class = "text-danger" })
                <button style="margin-top:20px;" type="button" class="btn btn-info" data-toggle="modal" data-target="#TipProizvodaModal">Dodaj novi tip proizvoda</button>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Istaknuti, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <div style="margin-left:20px;">
                        @Html.EditorFor(model => model.Istaknuti) Da
                    </div>
                    @Html.ValidationMessageFor(model => model.Istaknuti, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Akcija, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <div style="margin-left:20px;">
                        @Html.EditorFor(model => model.Akcija) Da
                    </div>
                    @Html.ValidationMessageFor(model => model.Akcija, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj novi proizvod" class="btn btn-danger" />
            </div>
        </div>
      
        <div class="row">
            <div class="col-md-9">
                @Html.ActionLink("Nazad na listu proizvoda", "Index")
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="TipProizvodaModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodavanje novog tipa proizvoda</h4>
            </div>
            <div class="modal-body" style="display: grid; padding:0px;">
                @Html.Action("Create_Modal","Tip_Proizvoda")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Zatvori prozor</button>
            </div>
        </div>
    </div>
</div>