@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrativni deo</h2>
<br />
<br />

<h4>U ponudi su sledeće redirekcije:</h4>


<p>@Html.ActionLink("Pregledaj i uređuj grupe tipova proizvoda", "Index", "Grupa_tipa_proizvoda")</p>
<p>@Html.ActionLink("Pregledaj i uređuj korisnike", "Index", "Korisnicis")</p>
<p>@Html.ActionLink("Pregledaj i uređuj komentare", "Index", "Pregledi")</p>
<p>@Html.ActionLink("Pregledaj i uređuj izložene proizvode", "Index", "Proizvodis")</p>
<p>@Html.ActionLink("Pregledaj i uređuj tipove proizvoda", "Index", "Tip_Proizvoda")</p>


